{%- assign hide_labels = hide_labels | default: false -%}
<div id="CustomerLoginForm" class="form-vertical">

  <div class="section-header template__main-title text-{{ settings.page_header_text_align }}">
    
    {%- assign default_header_title = 'customer.login.title' | t -%}
    {%- assign title_content = title | default: default_header_title -%}
    
    {%- if title_content != blank -%}
      <h1>{{ title_content }}</h1>
    {%- endif -%}
    
    {%- assign default_header_text = 'customer.login.subtext' | t -%}
    {%- assign text_content = text | default: default_header_text -%}
    
    {%- if text_content != blank -%}
      <p>{%- include 'text' with text_content -%}</p>
    {%- endif -%}
  </div>
    
  {% form 'customer_login' %}
    {{ form.errors | default_errors }}

    <label for="CustomerEmail"{% if hide_labels %} class="label-hidden"{% endif %}>
      {{ 'customer.login.email' | t }}
    </label>
    <input type="email"
           name="customer[email]"
           id="CustomerEmail"
           class="{% if form.errors contains 'email' %}input-error{% endif %}"
           {% if hide_labels %}placeholder="{{ 'customer.login.email' | t }}"{% endif %}
           spellcheck="false"
           autocapitalize="off"
           autofocus>
    {% if form.password_needed %}
      <label for="CustomerPassword"{% if hide_labels %} class="label-hidden"{% endif %}>
        {{ 'customer.login.password' | t }}
      </label>
      <div class="form-vertical__password">
        <input type="password"
                 name="customer[password]"
                 id="CustomerPassword"
                 class="{% if form.errors contains 'password' %}input-error{% endif %}"
                 {% if hide_labels %}placeholder="{{ 'customer.login.password' | t }}"{% endif %}>
        <span class="form-vertical__password-toggle js">
          {%- render 'icon' with 'eye' -%}
        </span>
      </div>
    {% endif %}

    <div class="form-vertical__actions text-center">

      <input type="submit" class="btn btn-primary" value="{{ 'customer.login.sign_in' | t }}">

      <div class="row around-xs form-vertical__actions">
        <div class="col-xs-12 col-md-4">
          <a href="/">{{ 'customer.login.cancel' | t }}</a>
        </div>
        
        {% if form.password_needed %}
        <div class="col-xs-12 col-md-4">
          <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
        </div>
        {% endif %}
        
        <div class="col-xs-12 col-md-4">
          <a href="/account/register">
            {{ 'layout.customer.create_account' | t }}
          </a>
        </div>
      </div>
    </div>
  {% endform %}

</div>

<div id="RecoverPasswordForm" class="hide form-vertical">

    <div class="section-header template__main-title text-{{ settings.page_header_text_align }}">
      <h2 class="h1">{{ 'customer.recover_password.title' | t }}</h2>
      {%- assign header_content = 'customer.recover_password.subtext' | t -%}
      {%- if header_content != blank -%}
        <p>{{ header_content }}</p>
      {%- endif -%}
    </div>
    
  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide reset-password-success"></span>
    {% endif %}

    <label for="RecoverEmail"{% if hide_labels %} class="label-hidden"{% endif %}>
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input type="email"
           name="email"
           id="RecoverEmail"
           {% if hide_labels %}placeholder="{{ 'customer.recover_password.email' | t }}"{% endif %}
           spellcheck="false"
           autocapitalize="off">

    <div class="text-right form-vertical__actions">
      <button type="button" class="btn btn--link btn--wide" id="HideRecoverPasswordLink">
        {{ 'customer.recover_password.cancel' | t }}
      </button>

      <input type="submit" class="btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
    </div>
  {% endform %}

</div>
