<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'meta-tags' %}

  <script type="text/javascript" id="theme-js">
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        quantityUnavailable: {{ 'products.product.quantity_unavailable' | t | json }},
      },
      current: {
        type: "{{ current_view_type }}",
        id: "{{ current_view_id }}",
        vendor: "{{ product.vendor | default: 'none' }}",
        collection: {
          products: [],
        },
      },
      settings: {
        mediaQuery: {
          small: 'screen and (max-width: 599px)',
          medium: 'screen and (min-width: 600px) and (max-width: 899px)',
          mediumUp: 'screen and (min-width: 600px)',
          largeUp: 'screen and (min-width: 900px)',
        }
      }
    };

    window.shop = {
      permanantDomain: {{ shop.permanent_domain | json }},
      moneyFormat: {{ shop.money_format | json }},
      moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
      currencyFormat: {{ settings.currency_format | default: 'money_with_currency_format' | json }},
      defaultCurrency: {{ settings.default_currency | default: shop.currency | json }},
      currency: {{ shop.currency | json }},
      cart: {{ cart | json }},
      customer: {
        addresses_count: "{{ customer.addresses_count | escape }}",
        is_logged_in: {% if customer %}true{% else %}false{% endif %},
      }
    };

    {%- unless current_view_type == 'unassigned' -%}
      sessionStorage.setItem('lastViewed{{ current_view_type | camelcase }}', '{{ current_view_handle }}');
    {%- endunless -%}

    var __isp_options = { DISABLE_DEBUG_MSG: true };
  </script>

  {%- include 'css-variables' -%}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

</head>

<body class="template-password">
  <div class="password-page text-center">
    <header role="banner" class="password-header">
      <a href="#" data-featherlight="#LoginModal" class="btn btn--secondary">
        {{ 'general.password_page.password_link' | t }} &rarr;
      </a>
    </header>

    <main role="main" id="MainContent" class="password-main">
      <div class="password-main__inner">
        
        <h1 itemscope itemtype="http://schema.org/Organization">
          <div class="site-logo">
            {{ shop.name }}
          </div>
        </h1>
        
        {{ content_for_layout }}

      </div>
    </main>

    <footer>

    </footer>

    <div class="hide">
      <div id="LoginModal">
        <div class="modal__inner">
          <div class="modal__centered password-modal__content page-width text-center">
            <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
            {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <label for="password" class="label-hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <div class="input-group input-group--center">
                <input type="password"
                  name="password"
                  id="Password"
                  class="input-group__field" 
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                <button type="submit" name="commit" class="btn btn-primary input-group__btn">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </div>
            {% endform %}
            <p>{{ 'general.password_page.admin_link_html' | t }}</p>
          </div>
        </div>

        <button type="button" class="modal__close js-modal-close text-link">
          {% render 'icon' with 'close' %}
          <span class="icon-fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
        </button>
      </div>
    </div>
  
  </div>

  <script>
    window.isMSIE = !!window.navigator.userAgent.match(/MSIE|Trident/);
    if (!isMSIE) {
      var script = document.createElement("script");
      script.src = "{{ 'watch.js' | asset_url }}";
      script.defer = true;
      document.head.appendChild(script);
    }
  </script>

</body>
</html>
