{%- include 'globals' -%}

{%- if active_country_code == 'NZ' -%}

  {% comment %} Direct debit is only supported in NZ {% endcomment %}
  <div class="row account-cards">
    <div class="col-xs-12 col-md-6">
      <div class="account-card">


          {%- capture fields %}
            <div class="form-vertical row">

              <div class="col-xs-12">
                <p class="h5">Payment Terms</p>
              </div>

              <div class="col-xs-12">
                <p>Payment of credit accounts is due within 14 days via direct debit. I/we understand that terms of trade for a credit account are for payment in full within 14 days in accordance with the above payment terms. Overdue accounts are subject to the interest of 2% per month compounded monthly, and if it is necessary to revert to Collection Agency procedures, all commission on collection and legal costs of any kind will be added to the account and become my responsibility. I/we hereby apply to operate a credit account with Innocent Packaging Limited in accordance with the above terms and conditions and confirm that all details provided are true and correct.Returns:Goods can be returned within 14 days from their receipt. If you would like to return items, please email orders@innocentpackaging.co.nz. We will then arrange collection. Once stock has been received at our warehouse, we will process a credit note for the total sale value excluding the total cost of freight. Please note that returns will be at our discretion. Any damaged or faulty goods will be collected at our expense and exchanged or refunded in full.</p>

                <input type="checkbox" id="agree_to_payment_terms">
                <label for="agree_to_payment_terms" class="inline">I accept</label>
              </div>
              
              <div class="col-xs-12">
                <p class="h5">Account Details</p>
              </div>

              <div class="col-xs-12">
                <label for="account_name">Name of Account to be debited</label>
                <input type="text" id="account_name">

                <label for="account_bank">Bank name</label>
                <input type="text" id="account_bank">

                <label for="account_number">Account Number</label>
                <input type="text" id="account_number" placeholder="eg. 12-1234-1234567-00">
              </div>

              <div class="col-xs-12">
                <p class="h5">Payment Authorisation</p>
              </div>

              <div class="col-xs-12">
                <p>I/We authorise you until further notice in writing to debit my/our account with you all amounts which Innocent Packaging the registered Initiator of above Authorisation Code, may initiate by Direct Debit.
                <br>
                I/We acknowladge and accept that the Bank accepts this authority only upon the conditions listed on the reverse of this form.
                </p>

                <input type="checkbox" id="agree_to_payment_authorisation">
                <label for="agree_to_payment_authorisation" class="inline">I accept</label><br>
              </div>

              <div class="col-xs-12">
                <label for="bank_statement_information">Information To Appear In My/Our Bank Statement</label>
                <input type="text" id="bank_statement_information" placeholder="Payer Particulars - Payer Code - Payer Reference">
              </div>

              <div class="col-xs-12">
                <p class="h5">Direct Debit Terms</p>
              </div>

              <div class="col-xs-12">
                <p>I agree to the Direct Debit Terms and Conditions
                  <br>
                  <a href="https://innocentpackaging.co.nz/pages/conditions-of-instructions-to-accept-direct-debits">https://innocentpackaging.co.nz/pages/conditions-of-instructions-to-accept-direct-debits</a>
                </p>
                <input type="checkbox" id="agree_to_direct_debit_terms">
                <label for="agree_to_direct_debit_terms" class="inline">I accept</label>
              </div>

            </div>

          {% endcapture -%}

          <div id="customer-fields" {% unless customer %}data-registration="true"{% endunless %}>
            {% form 'create_customer' %}

              <div class="account-card__content">
              <input type="hidden" name="shop" value="{{ shop.permanent_domain }}">

              {%- if fields != blank -%}
                <div class="custom-fields">
                  {{ fields }}
                </div>
              {%- endif -%}

              <div class="form-footer"></div>
              
              <script>
                var Customr = {
                  baseUrl: "https://customr.heliumdev.com",
                  {% if customer %}
                    shopifyCustomer: {
                      id: {{ customer.id }},
                      token: {{ customer.metafields.customr_auth.token | json }}
                    },
                  {% endif %}

                  ready: function() {
                    var css = document.querySelector('link[href="https://customr.heliumdev.com/assets/v2/embed.css"]');
                    css.parentElement.removeChild(css);
                  },

                  beforeValidate: function() {
                    $('#customer-fields [type="submit"]').addClass('loading');
                  },
                  afterSaveError: function(errors) {
                    $('#customer-fields [type="submit"]').removeClass('loading');
                  },
                  afterSaveSuccess: function(customer) {
                    window.location.href = "/account";
                  },
                };
              </script>
              <script src="https://cdn-customr.heliumdev.com/assets/v2/embed.js"></script>
              </div>
              <div class="account-card__footer">
                <button type="submit" class="btn btn-black btn--wide">{{ 'customer.account.save_changes' | t }}</button>
              </div>
            {% endform %}
          </div>
      </div>
    </div>
  </div>

{%- endif -%}