<div data-section-id="{{ section.id }}" data-section-type="call-to-action">
  <div class="section">
    <div class="container">

      <div class="call-to-action">
        {%- if section.settings.title != blank -%}
          <div class="call-to-action__header text-center">
            <h2 class="call-to-action__title">{{ section.settings.title | escape }}</h2>
          </div>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="call-to-action__body text-center">
            <p>{{ section.settings.text | escape }}</p>
          </div>
        {%- endif -%}

        
          <div class="call-to-action__actions text-center">
            <a href="{{ section.settings.btn_url | default: '#' }}" class="btn btn-primary">{{ section.settings.btn_text | escape | default: 'View More' }}</a>
          </div>
        
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Call to Action",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Section Heading"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text",
        "default": "This section can contain a call to action, and link to a product or page with the button below. All elements are optional."
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "View More"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Call to Action",
        "category": "Content"
      }
    ]
  }
{% endschema %}
