{%- assign background_image = '' -%}
{%- if section.settings.background_image != blank -%}
  {%- capture background_image -%}
    data-bgset="{% include 'bgset' with section.settings.background_image %}" data-sizes="auto"
  {%- endcapture -%}
{%- endif -%}

<div data-section-id="{{ section.id }}" data-section-type="content-slider">
  {%- if section.blocks.size > 0 -%}
    <div class="content-slider-section content-slider-section--theme-{{ section.settings.theme }} content-slider-section--text-{{ section.settings.text_size }} section section--vertical-padding-{{ section.settings.container_padding_vertical }} lazyload lazypreload"{% if section.settings.background_container == 'screen' %} {{ background_image }}{% endif %}>

      {%- unless section.settings.heading == blank and section.settings.text == blank -%}
        <div class="row text-center content-slider-top">
          <div class="col-xs-12">
            <div class="page-width small-page-width">
              <div class="content-slider-title h2">{{ section.settings.heading }}</div>
              <div class="content-slider-text">{{ section.settings.text }}</div>
            </div>
          </div>
        </div>
      {%- endunless -%}

      <div class="container lazyload lazypreload"{% if section.settings.background_container == 'content' %} {{ background_image }}{% endif %}>
        <div class="row text-center content-slider-bottom">
          <div class="col-xs-12 content-slider-wrap{% unless section.settings.arrows == 'false' %} content-slider-wrap--arrows-{{ section.settings.arrows }}{% endunless %}">

            <div class="content-slider content-slider--valign-{{ section.settings.valign }} content-slider--horizontal-padding-{{ section.settings.slide_padding_horizontal }} content-slider--vertical-padding-{{ section.settings.slide_padding_vertical }} {% if section.settings.image_height > 0 %} content-slider--sized-images{% endif %}" 
                 id="content-slider-{{ section.id }}" 
                 data-autoplay="{% if section.settings.autoplay == 'desktop' or section.settings.autoplay == 'all' %}true{% else %}false{% endif %}" 
                 data-autoplay-mobile="{% if section.settings.autoplay == 'mobile' or section.settings.autoplay == 'all' %}true{% else %}false{% endif %}" 
                 data-arrows="{% if section.settings.arrows == 'desktop' or section.settings.arrows == 'all' %}true{% else %}false{% endif %}" 
                 data-arrows-mobile="{% if section.settings.arrows == 'mobile' or section.settings.arrows == 'all' %}true{% else %}false{% endif %}" 
                 data-dots="{% if section.settings.dots == 'desktop' or section.settings.dots == 'all' %}true{% else %}false{% endif %}" 
                 data-dots-mobile="{% if section.settings.dots == 'mobile' or section.settings.dots == 'all' %}true{% else %}false{% endif %}" 
                 data-slides-show-desktop="{{ section.settings.slides_show_desktop }}"
                 data-slides-show-tablet="{{ section.settings.slides_show_tablet }}"
                 data-slides-show-mobile="{{ section.settings.slides_show_mobile }}"
                 data-slides-scroll-desktop="{{ section.settings.slides_scroll_desktop }}"
                 data-slides-scroll-tablet="{{ section.settings.slides_scroll_tablet }}"
                 data-slides-scroll-mobile="{{ section.settings.slides_scroll_mobile }}"
                 data-rows-desktop="{{ section.settings.rows_desktop }}"
                 data-per-row-mobile="{{ section.settings.per_row_desktop }}"
                 data-rows-tablet="{{ section.settings.rows_tablet }}"
                 data-per-row-mobile="{{ section.settings.per_row_tablet }}"
                 data-rows-mobile="{{ section.settings.rows_mobile }}"
                 data-per-row-mobile="{{ section.settings.per_row_mobile }}"
                 data-infinite="{{ section.settings.infinite }}"
                 data-speed="{{ section.settings.autoplay_speed }}">

              {%- for block in section.blocks -%}
                {%- assign is_video_block = false -%}
                {%- if block.type == 'video' and block.settings.video_url.id != blank -%}
                  {%- assign is_video_block = true -%}
                {%- endif -%}

                <div id="content-slide-{{ block.id }}" class="content-slider__slide content-slide {% unless section.settings.greyscale == 'false' %}content-slide--greyscale {% endunless %}{% if section.settings.greyscale == 'hover' %}content-slide--hover {% endif %}content-slide--{{ block.type }} text-{{ section.settings.text_align }}">
                  <div class="content-slide__inner">

                    {%- if block.settings.image != blank -%}
                      <div class="content-slide__image"{% if section.settings.image_height > 0 %} style="height: {{ section.settings.image_height }}px;"{% endif %}>
                        
                        {%- if is_video_block -%}
                          <a class="video-lightbox__trigger" href="{{ block.settings.video_url }}">
                        {%- endif -%}
                        
                        {%- if block.settings.img_url != blank -%}
                          <a class="content-slide__image-link" href="{{ block.settings.img_url }}">
                        {%- endif -%}
                        
                          {% include 'img' with block.settings.image %}
                        
                        {%- if block.settings.img_url != blank -%}
                          </a>
                        {%- endif -%}
                        
                        {%- if is_video_block -%}
                            <span class="video-lightbox__trigger-button">
                              {% render 'icon' with 'play' %}
                            </span>
                          </a>
                        {%- endif -%}
                        
                      </div>
                    {%- endif -%}

                    {% if block.settings.icon != "false" and block.settings.icon != blank %}
                      <div class="content-slide__icon">
                        {% assign icon = 'icon-' | append: block.settings.icon %}
                        {% include icon %}
                      </div>
                    {% endif %}

                    {% if block.settings.title != blank %}
                      <div class="content-slide__title h4">
                        {{ block.settings.title }}
                      </div>
                    {% endif %}

                    {% if block.settings.text != blank %}
                      <div class="content-slide__text">
                        {{ block.settings.text }}
                      </div>
                    {% endif %}

                    {% if block.settings.button_label != blank and block.settings.button_url != blank %}
                      <a href="{{ block.settings.button_url }}" class="btn btn-{{ section.settings.button_style }}">
                        {{ block.settings.button_label | escape }}
                      </a>
                    {% endif %}

                  </div>
                </div>
              {%- endfor -%}

            </div>

            <button type="button" class="content-slider__prev btn btn--text">{% render 'icon' with 'fa-angle-left' %}</button>
            <button type="button" class="content-slider__next btn btn--text">{% render 'icon' with 'fa-angle-right' %}</button>

          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Content Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Admin Display Title"
      },
      {
        "type": "header",
        "content": "Attention:",
        "info": "This content slider is intended for a wide range of uses. As such, some settings may not interact well with others. Content should be tested on all screen sizes."
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Subtitle"
      },
      {
        "type": "header",
        "content": "Desktop Settings"
      },
      {
        "type": "range",
        "id": "slides_show_desktop",
        "min": 1,
        "max": 16,
        "step": 1,
        "label": "Slides to show",
        "default": 4
      },
      {
        "type": "range",
        "id": "slides_scroll_desktop",
        "min": 1,
        "max": 16,
        "step": 1,
        "label": "Slides to scroll",
        "default": 2
      },
      {
        "type": "range",
        "id": "rows_desktop",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Number of rows",
        "default": 1
      },
      {
        "type": "range",
        "id": "per_row_desktop",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Slides per row",
        "default": 1
      },
      {
        "type": "header",
        "content": "Tablet Settings"
      },
      {
        "type": "range",
        "id": "slides_show_tablet",
        "min": 1,
        "max": 16,
        "step": 1,
        "label": "Slides to show",
        "default": 3
      },
      {
        "type": "range",
        "id": "slides_scroll_tablet",
        "min": 1,
        "max": 16,
        "step": 1,
        "label": "Slides to scroll",
        "default": 2
      },
      {
        "type": "range",
        "id": "rows_tablet",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Number of rows",
        "default": 1
      },
      {
        "type": "range",
        "id": "per_row_tablet",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Slides per row",
        "default": 1
      },
      {
        "type": "header",
        "content": "Mobile Settings"
      },
      {
        "type": "range",
        "id": "slides_show_mobile",
        "min": 1,
        "max": 16,
        "step": 1,
        "label": "Slides to show",
        "default": 2
      },
      {
        "type": "range",
        "id": "slides_scroll_mobile",
        "min": 1,
        "max": 16,
        "step": 1,
        "label": "Slides to scroll",
        "default": 2
      },
      {
        "type": "range",
        "id": "rows_mobile",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Number of rows",
        "default": 1
      },
      {
        "type": "range",
        "id": "per_row_mobile",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Slides per row",
        "default": 1
      },
      {
        "type": "header",
        "content": "Layout Settings"
      },
      {
        "type": "select",
        "id": "slide_padding_horizontal",
        "options": [
          { "value": "none", "label": "None"},
          { "value": "small", "label": "Small"},
          { "value": "medium", "label": "Medium"},
          { "value": "large", "label": "Large"}
        ],
        "label": "Space between slides",
        "default": "small"
      },
      {
        "type": "select",
        "id": "slide_padding_vertical",
        "options": [
          { "value": "none", "label": "None"},
          { "value": "small", "label": "Small"},
          { "value": "medium", "label": "Medium"},
          { "value": "large", "label": "Large"}
        ],
        "label": "Space above/below slides",
        "default": "small"
      },
      {
        "type": "select",
        "id": "container_padding_vertical",
        "options": [
          { "value": "none", "label": "None"},
          { "value": "small", "label": "Small"},
          { "value": "medium", "label": "Medium"},
          { "value": "large", "label": "Large"}
        ],
        "label": "Space above/below container",
        "default": "small"
      },
      {
        "type": "select",
        "id": "valign",
        "options": [
          { "value": "top", "label": "Top"},
          { "value": "middle", "label": "Middle"},
          { "value": "bottom", "label": "Bottom"}
        ],
        "label": "Slide vertical alignment",
        "default": "middle"
      },
      {
        "type": "select",
        "id": "text_align",
        "options": [
          { "value": "left", "label": "Left"},
          { "value": "center", "label": "Centre"},
          { "value": "right", "label": "Right"}
        ],
        "label": "Slide text alignment",
        "default": "center"
      },
      {
        "type": "select",
        "id": "text_size",
        "options": [
          { "value": "small", "label": "Small"},
          { "value": "medium", "label": "Medium"},
          { "value": "large", "label": "Large"}
        ],
        "label": "Text size",
        "default": "medium"
      },
      {
        "type": "range",
        "id": "image_height",
        "min": 0,
        "max": 500,
        "step": 10,
        "unit": "px",
        "label": "Match image heights",
        "default": 0,
        "info": "Set to 0 to disable"
      },
      {
        "type": "header",
        "content": "Autoplay Settings"
      },
      {
        "type": "select",
        "id": "infinite",
        "options": [
          { "value": "false", "label": "Disabled"},
          { "value": "true", "label": "Enabled"}
        ],
        "label": "Wrap slides",
        "default": "true"
      },
      {
        "type": "select",
        "id": "autoplay",
        "options": [
          { "value": "false", "label": "Disabled"},
          { "value": "mobile", "label": "On small screens only"},
          { "value": "desktop", "label": "On large screens only"},
          { "value": "all", "label": "On all screen sizes"}
        ],
        "label": "Auto-rotate slides",
        "default": "false"
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      },
      {
        "type": "header",
        "content": "Slider Controls"
      },
      {
        "type": "select",
        "id": "arrows",
        "options": [
          { "value": "false", "label": "Disabled"},
          { "value": "mobile", "label": "On small screens only"},
          { "value": "desktop", "label": "On large screens only"},
          { "value": "all", "label": "On all screen sizes"}
        ],
        "label": "Navigation arrows",
        "default": "false"
      },
      {
        "type": "select",
        "id": "dots",
        "options": [
          { "value": "false", "label": "Disabled"},
          { "value": "mobile", "label": "On small screens only"},
          { "value": "desktop", "label": "On large screens only"},
          { "value": "all", "label": "On all screen sizes"}
        ],
        "label": "Navigation dots",
        "default": "false"
      },
      {
        "type": "header",
        "content": "Theme Settings"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background image"
      },
      {
        "type": "select",
        "id": "background_container",
        "options": [
          { "value": "screen", "label": "Screen width"},
          { "value": "content", "label": "Content width"}
        ],
        "label": "Crop background to",
        "default": "screen"
      },
      {
        "type": "select",
        "id": "greyscale",
        "options": [
          { "value": "false", "label": "Disabled"},
          { "value": "true", "label": "Enabled"},
          { "value": "hover", "label": "Enabled, full colour on hover"}
        ],
        "label": "Greyscale images",
        "default": "false"
      },
      {
        "type": "select",
        "id": "theme",
        "options": [
          { "value": "default", "label": "Default"},
          { "value": "light", "label": "Light"},
          { "value": "dark", "label": "Dark"}
        ],
        "label": "Colour scheme",
        "default": "default"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "options": [
          { "value": "primary", "label": "Brand Primary" },
          { "value": "secondary", "label": "Brand Secondary" },
          { "value": "tertiary", "label": "Brand Tertiary" },
          { "value": "primary-o", "label": "Outlined Brand Primary" },
          { "value": "secondary-o", "label": "Outlined Brand Secondary" },
          { "value": "tertiary-o", "label": "Outlined Brand Tertiary" },
          { "value": "white-o", "label": "Outlined White" },
          { "value": "link", "label": "Plain" }
        ],
        "default": "primary"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "img_url",
            "label": "Link to"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video link",
            "accept": ["youtube"],
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Placeholder Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "info": "Overrides image",
            "options": [
              { "value": "false", "label": "None" },
              { "value": "bottle", "label": "Bottle" },
              { "value": "cogs", "label": "Cogs" },
              { "value": "truck", "label": "Delivery Truck" },
              { "value": "heart_badge", "label": "Heart Badge" },
              { "value": "low_prices", "label": "Low Prices" },
              { "value": "tag", "label": "Price Tag" },
              { "value": "trolley", "label": "Trolley" }
            ],
            "default": "false"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button link"
          }
        ]
      }
    ]
  }
{% endschema %}
{% comment %}
,
    "presets": [
      {
        "name": "Content Slider",
        "category": "Content"
      }
    ]
{% endcomment %}
