{% assign s_sett = section.settings %}
{% if section.blocks.size %}
  <div data-section-id="{{ section.id }}">
    <div class="container custom-articles">
      {% if section.blocks.size > 0 %}
        <ul class="row custom-articles__list">
          {%- for block in section.blocks -%}
            {% assign b_sett = block.settings %}
            <li class="custom-articles__li col-md-6 col-xs-12">
              <article class="custom-articles__item">
                {% if  b_sett.icon != blank %}
                  <picture class="custom-articles__picture">
                    {%-
                      include 'img'
                      with b_sett.icon,
                      fit: 'cover',
                      position: 'center',
                      img_class: 'custom-articles__img'
                    -%}
                  </picture>
                {% endif %}
                {% if b_sett.title != blank or b_sett.text != blank or b_sett.link != blank %}
                  <section class="custom-articles__body {% if b_sett.show_boxshadow %}custom-articles__body--shadow{% endif %}">
                    {% if  b_sett.title != blank %}
                      <h4 class="custom-articles__title">{{ b_sett.title }}</h4>
                    {% endif %}
                    {% if  b_sett.text != blank %}
                      <p class="custom-articles__desc">{{ b_sett.text | truncatewords: 13, escape }}</p>
                    {% endif %}
                    {% if  b_sett.link != blank %}
                      <a href="{{ b_sett.link }}" class="custom-articles__link">{{ b_sett.link_text }}</a>
                    {% endif %}
                  </section>
                {% endif %}
              </article>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Custom articles 2col",
    "blocks": [
      {
        "type": "custom_article",
        "name": "custom article",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text",
            "default": "learn more"
          },
          {
            "type": "checkbox",
            "id": "show_boxshadow",
            "label": "Show box shadow after content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom articles 2col",
        "category": "Image"
      }
    ]
  }
{% endschema %}
