
<article role="article" itemscope itemtype="http://schema.org/Article" class="article--{{ blog.title }}">
  <div class="article__content">
{% if product.metafields.accentuate.related_article != blank or article.metafields.accentuate.related_articles != blank or blogs[section.settings.blog].articles != blank %}
  <div data-section-id="{{ section.id }}" data-section-type="latest-blog-posts">
    <div class="latest-blog-posts-wrap">
      <div class="container">

        {%- if section.settings.title != blank -%}
          <div class="section-header text-center">
            <h2 class="section-header__title">
              <span>{{ section.settings.title | escape }}</span>
            </h2>
          </div>
        {%- endif -%}

        <div class="article-grid-list"
               id="Slideshow-{{ section.id }}"
               data-autoplay="{{ section.settings.autoplay }}"
               data-speed="{{ section.settings.autoplay_speed }}"
               data-arrows="false"
               data-dots-mobile="true"
               data-dots-tablet="true"
               data-slides-show="3"
               data-slides-scroll="3"
               data-slides-show-tablet="2"
               data-slides-scroll-tablet="2"
               data-slides-show-mobile="1"
               data-slides-scroll-mobile="1"
               data-center-mode-mobile="true"
               data-center-padding-mobile="30px"
               data-dots="{% if section.blocks.size > 1 %}true{% else %}false{% endif %}">

          {%- assign limit = section.settings.items_to_show -%}
          {%- assign article_count = blogs[section.settings.blog].articles_count -%}

          {% comment %}product.metafields.accentuate.related_blog{% endcomment %}
          {% assign meta_section = false %}
          {% assign variable_article = article.metafields.accentuate.related_articles | split: '|' %}


          {% if product.metafields.accentuate.related_article != blank %}
            {% assign meta_section = true %}
            {% for acf_articles in product.metafields.accentuate.related_article %}
              {% assign loop_article = product.metafields.accentuate.related_article[forloop.index0] %}
              {% assign acf_article = articles[loop_article] %}
              {% assign acf_article_category = loop_article | split: '/' %}
              {% include 'article-grid-item' with acf_article, layout: section.settings.layout, show_byline: false, blog_title: acf_article_category[0] %}
            {% endfor %}
          {% elsif variable_article != blank %}
            {% assign meta_section = true %}
            {% for acf_articles in variable_article %}
              {% assign loop_article = article.metafields.accentuate.related_articles[forloop.index0] %}
              {% assign acf_article = articles[acf_articles] %}
              {% assign acf_article_category = acf_article | split: '/' %}
              {% include 'article-grid-item' with acf_article, layout: section.settings.layout, show_byline: false, blog_title: acf_article_category[0] %}
            {% endfor %}
          {% else %}
            {%- for article in blogs[section.settings.blog].articles limit: limit -%}
              {% include 'article-grid-item' with article, layout: section.settings.layout, show_byline: false, blog_title: blogs[section.settings.blog].title %}
            {%- endfor -%}
          {% endif %}

        </div>

        {%- assign article_count = article_count | plus: 0 -%}
        {%- assign limit = limit | plus: 0 -%}
        {% if product.metafields.accentuate.related_blog != blank %}
          <div class="row center-xs middle-xs">
            <a class="btn btn-primary-o" href="{{ blogs[product.metafields.accentuate.related_blog].url }}">
              <span>{{ section.settings.button_show_more_text }}</span>
            </a>
          </div>
        {% elsif article.metafields.accentuate.related_blog != blank %}
          <div class="row center-xs middle-xs">
            <a class="btn btn-primary-o" href="{{ blogs[article.metafields.accentuate.related_blog].url }}">
              <span>{{ section.settings.button_show_more_text }}</span>
            </a>
          </div>
        {% elsif meta_section == false %}
          {%- if article_count > limit and section.settings.button_show_more_enabled -%}
            <div class="row center-xs middle-xs">
              <a class="btn btn-primary-o" href="{{ blogs[section.settings.blog].url }}">
                <span>{{ section.settings.button_show_more_text }}</span>
              </a>
            </div>
          {%- endif -%}
        {% endif %}

      </div>
    </div>
  </div>
{% endif %}
    
      </div>
</article>


{% schema %}
{
  "name": "Latest Blog Posts",
  "class": "latest-blog-posts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "items_to_show",
      "label": "Items to show",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "button_show_more_enabled",
      "label": "Show More Button",
      "default": false,
      "info": "Will add a 'View More' button if more posts are available."
    },
    {
      "type": "text",
      "id": "button_show_more_text",
      "label": "'View More' Button Text",
      "default": "View All"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Image then text, vertical"
        },
        {
          "value": "square",
          "label": "Title over image"
        }
      ]
    }
  ]
}
{% endschema %}
