{% comment %} If a feature article block exists, assign it to a variable so it doesn't appear twice. {% endcomment %}
{%- assign feature_article_blocks = section.blocks | where: "type", 'feature-article' -%}
{%- assign featured_articles = null -%}

{%- for feature_article_block in feature_article_blocks -%}
  {%- assign featured_articles = featured_articles | append: ',' | append: feature_article_block.settings.featured_article -%}
{%- endfor -%}
<div class="blog-page">
	<div data-section-id="{{ section.id }}" data-section-type="blog-library">
  {% for block in section.blocks %}
    {% if block.type == 'filter' %}
      <div class="full-width library-intro">
        {%- include 'breadcrumbs' -%}
        <div class="container library-intro__container">
          {% if  block.settings.title != blank %}
            <h1 class="library-intro__title" style="margin:0; padding:0">{{ block.settings.title }}</h1>
          {% endif %}
          {%- include 'blog-library-filter' with block -%}
        </div>
      </div>

    {% elsif block.type == 'articles' %}
      <div class="library-articles">
        <div class="container">
          <div class="row">
            {% assign show_menu = block.settings.show_menu %}

            {% if show_menu %}
              <div class="col-md-4 col-lg-3 hidden-xs hidden-sm">
                {%- include 'blog-library-menu' title: block.settings.menu_title -%}
              </div>
              {% assign articles_grid = 'col-xs-12 col-md-8 col-lg-offset-1' %}
            {% else %}
              {% assign articles_grid = 'col-md-12' %}
            {% endif %}

            <div class="{{ articles_grid }}">
              <div class="library-articles__section">
                {% if block.settings.title != blank %}
                  <h2 class="library-articles__title">{{ block.settings.title }}</h2>
                {% endif %}
                {%- assign blog_search_enabled = false -%}
                {%- assign search_block = section.blocks | where: "type", 'search' -%}
                {%- assign search_block_2 = section.blocks | where: "type", 'header-search' -%}
                {%- if search_block.size > 0 or search_block_2.size > 0-%}
                  {%- assign blog_search_enabled = true -%}
                {%- endif -%}

                {%- if blog_search_enabled -%}
                  <div class="blog__search-results hide">
                    <p class="blog__search-results-list row"></p>
                  </div>
                {%- endif -%}

                {%- assign pagination_type = block.settings.pagination_type -%}

                {% assign paginate_size = block.settings.articles_length %}
                {%- paginate blog.articles by paginate_size -%}

                  <div class="row blog__articles">

                    {%- assign article_grid_class = 'col-xs-{mobile} col-sm-{tablet} col-lg-{desktop} ' | replace: '{desktop}', block.settings.width_desktop | replace: '{tablet}', block.settings.width_tablet | replace: '{mobile}', block.settings.width_mobile -%}

                    {% comment %}{% assign articles = blog.articles | sort: 'title' %}{% endcomment %}
                    {%- for article in blog.articles -%}
                      {% comment %}{% assign blog_length = forloop.length %}{% endcomment %}
                      {%- if current_tags != blank -%}

                        {% comment %}show all blogs that match even if its the feature article{% endcomment %}
                        <div class="{{ article_grid_class }} article-grid-item-wrapper">
                          {%- include 'article-grid-item' with article: article, class: '', show_byline: false, show_blog_title: false, words_length: 15, blog_title: blog.title  -%}
                        </div>

                      {%- else -%}

                        {% comment %}only hide feature article if filter isnt enabled{% endcomment %}
                        {%- unless featured_articles contains article.handle -%}
                          <div class="{{ article_grid_class }} article-grid-item-wrapper">
                            {%- include 'article-grid-item' with article: article, class: '', show_byline: false, show_blog_title: false, words_length: 15, blog_title: blog.title-%}
                          </div>
                        {%- endunless -%}
                      {%- endif -%}

                    {%- endfor -%}
                  </div>

                  {%- if paginate.pages > 1 -%}
                    {% comment %}paginate.current_offset{% endcomment %}
                    <div class="blog-pagination-wrap">
                      {% assign show_items = paginate.current_offset | plus: paginate_size %}
                      {% if show_items > blog.articles_count %}
                        {% assign show_items = blog.articles_count %}
                      {% endif %}
                      <p class="pagination-showing">{{ show_items }} of {{ blog.articles_count }} Articles</p>
                      <ul class="blog-pagination">
                        {%- if paginate.previous-%}
                          <li class="paginate-arrow"><a href="{{ paginate.previous.url }}" class="pagination-btn">{% render 'icon' with 'angle-left', class: '' %}</a></li>
                        {%- else -%}
                          <li class="paginate-arrow disabled"><span aria-hidden="true" class="pagination-btn">{% render 'icon' with 'angle-left', class: '' %}</span></li>
                        {%- endif -%}

                        {%- for part in paginate.parts -%}
                          {%- if part.is_link -%}
                            <li><a href="{{ part.url }}" class="pagination-btn">{{ part.title }}</a></li>
                          {%- else -%}
                            {%- if part.title == paginate.current_page -%}
                              <li class="active" aria-current="page"><span class="pagination-btn">{{ part.title }}</span></li>
                            {%- else -%}
                              <li>{{ part.title }}</li>
                            {%- endif -%}
                          {%- endif -%}
                        {%- endfor -%}

                        {%- if paginate.next -%}
                          <li class="paginate-arrow"><a href="{{ paginate.next.url }}" class="pagination-btn">{% render 'icon' with 'angle-right', class: '' %}</a></li>
                        {%- else -%}
                          <li class="paginate-arrow disabled"><span aria-hidden="true" class="pagination-btn">{% render 'icon' with 'angle-right', class: '' %}</span></li>
                        {%- endif -%}
                      </ul>
                    </div>
                  {%- endif -%}

                {%- endpaginate -%}

                {%- if blog.articles.size <= 0 -%}
                  <p class="blog-filter-results-message text-center">{{ 'general.search.no_results' | t }}</p>
                {%- endif -%}
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>
</div>
{%- schema %}
  {
    "name": "Library",
    "class": "blog-page",
    "settings": [
      {
         "type": "header",
         "content": "Library Page"
      }
    ],
    "blocks": [
      {
        "name": "Library Filter Bar",
        "type": "filter",
        "settings": [
          {
            "type": "header",
            "content": "Table Options"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Filter Section Title"
          },
          {
            "type": "link_list",
            "id": "filter",
            "label": "Filter Navigation",
            "info": "The filter will output each link as a filter option"
          },
          {
            "type": "select",
            "id": "filter_type",
            "label": "Filter Type",
            "options": [
              {
                "value": "dropdown",
                "label": "Dropdown"
              },
              {
                "value": "tabs",
                "label": "Tabs"
              }
            ],
            "default": "dropdown"
          },
          {
            "type": "checkbox",
            "id": "show_label",
            "default": true,
            "label": "Show Dropdown Label"
          },
          {
            "type": "select",
            "id": "remove_icon",
            "label": "Clear Icon/Text",
            "options": [
              {
                "value": "remove",
                "label": "Trash"
              },
              {
                "value": "close",
                "label": "Cross"
              },
              {
                "value": "text",
                "label": "Text"
              }
            ],
            "default": "close"
          },
          {
            "type": "range",
            "id": "width",
            "min": 0,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Width on page",
            "default": 12
          },
          {
            "type": "radio",
            "id": "position",
            "label": "Page Position",
            "options": [
              { "value": "header", "label": "Header" },
              { "value": "body", "label": "Body" },
              { "value": "sidebar", "label": "Sidebar" },
              { "value": "footer", "label": "Footer" }
            ],
            "default":"body",
            "info":"Choose where the block will appear"
          }
        ]
      },
      {
        "name": "Library Articles",
        "type": "articles",
        "settings": [
          {
            "type": "text",
            "id": "menu_title",
            "label": "Menu Heading"
          },
          {
            "type": "checkbox",
            "id": "show_menu",
            "label": "Show Menu",
            "default": true
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "All resources"
          },
          {
            "type": "range",
            "id": "width",
            "min": 0,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Width on page",
            "default": 12
          },
          {
            "type": "select",
            "id": "pagination_type",
            "label": "Pagination Type",
            "options": [
              {
                "value": "pages",
                "label": "Pages"
              }
            ],
            "default": "pages"
          },
          {
            "type": "range",
            "id": "articles_length",
            "min": 3,
            "max": 12,
            "step": 3,
            "label": "Articles on page",
            "default": 6
          },
          {
            "type": "header",
            "content": "Grid Item Options"
          },
          {
            "type": "range",
            "id": "width_desktop",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Article Column width on desktop",
            "default": 4
          },
          {
            "type": "range",
            "id": "width_tablet",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Article Column width on tablet",
            "default": 6
          },
          {
            "type": "range",
            "id": "width_mobile",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Article Column width on mobile",
            "default": 12
          }
        ]
      },
      {
        "name": "Feature Article",
        "type": "feature-article",
        "settings": [
          {
            "type": "paragraph",
            "content": "The Featured article can be set via the 'featured-article' tag or by selecting an article below"
          },
          {
             "type": "article",
             "id": "featured_article",
             "label": "Set Article to feature"
          },
          {
            "type": "range",
            "id": "width",
            "min": 0,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Width on page",
            "default": 12
          }
        ]
      }
    ],
    "default": {
      "settings": {
      },
      "blocks": [
        {
          "type": "filter",
          "settings": {
          }
        },
        {
          "type": "articles",
          "settings": {
          }
        }
      ]
    }
  }
{% endschema -%}
